body {
    font-family: Verdana, Helvetica, sans-serif;
    margin: auto; /* to center all body of the site */
    background-color: white;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

.boxes,
.reviews,
.call-to-action {
    padding: 0 300px;
}

.top-links,
.footer,
.header {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 300px;
}

.header.logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.top-links ul {
    display: flex;
    margin-left: auto;
}

.header div {
    min-width: 500px;
    padding-right: 20px;
    box-sizing: border-box;
}

.img {
    background-color: #e5e7eb;
    min-height: 300px;
}

.reviews {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
}
